.info-transac {
  padding: 80px;
}
.info {
  display: flex;
  padding-top: 0px;
  flex-wrap: wrap;
  overflow: auto;
}
.info-personal {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}
input[type="file"] {
  display: none;
}
.upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.info-data {
  display: flex;
}
.nav-litle {
  padding-top: 40px;
}
.nav-litle ul {
  display: flex;
  list-style: none;
}
.nav-litle ul li {
  padding: 30px;
}
.mydata {
  padding-left: 50px;
}
