.popup {
  position: fixed;
  width: 500px;
  height: 200px;
  font-family: " 'Rajdhani', sans-serif";
  font-size: 20px;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  background-color: white;
  z-index: 3;
  padding: 20px;
  position: fixed;
  text-align: center;
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input[type="checkbox"] {
  font-style: italic;
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  padding: 10px;
  padding-right: 50px;
}
input[type="checkbox"]:checked + label {
  color: red;
}
.submit-agree {
  font-size: 20px;
  transition-duration: 0.4s;
}
.submit-agree:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
.check-agree {
  display: grid;
  text-align: center;
  padding: 7px 20px;
  grid-template-columns: 0.1fr 1.2fr;
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
